<button class="close" mat-icon-button [mat-dialog-close]="true">
  <mat-icon color="primary">close</mat-icon>
</button>
<form class="dialog-container" [formGroup]="colorPaletteForm">
  <div class="palette-form-heading heading">
    <mat-icon class="edit-icon" color="primary">create</mat-icon>
    <mat-form-field>
      <input
        formControlName="paletteName"
        matInput
        placeholder="Palette Name"
      />
    </mat-form-field>
  </div>
  <div class="main-content-container">
    <div class="palette-form-wrapper">
      <div class="palette-form-content" formArrayName="colors">
        <div
          class="color-container"
          *ngFor="let color of colors.controls; let i = index"
          (click)="selectColor(i)"
        >
          <div [formGroupName]="i">
            <span
              class="color-circle"
              [ngClass]="{ selected: selectedIndex === i && isColorSelected }"
              [ngStyle]="{
                'background-color': getCircleColor(color.value.color)
              }"
            ></span>
            <div class="color-name">
              <mat-icon color="primary">create</mat-icon>
              <input
                formControlName="colorName"
                matInput
                placeholder="Color Name"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="color-picker-container">
      <chrome-picker [control]="chromeControl"></chrome-picker>
      <button
        mat-raised-button
        [color]="isColorSelected === true ? 'accent' : 'primary'"
        (click)="addColor()"
      >
        {{ isColorSelected === true ? "Edit" : "Add" }} Color
      </button>
    </div>
  </div>
  <div class="palette-form-description-container heading">
    <mat-icon class="edit-icon" color="primary">create</mat-icon>
    <mat-form-field>
      <mat-label>Describe your palette here...</mat-label>
      <textarea
        matInput
        formControlName="description"
        [matTextareaAutosize]="true"
        placeholder="Ex. this palette can be used to..."
      ></textarea>
    </mat-form-field>
  </div>
  <button
    class="save-button"
    mat-raised-button
    color="accent"
    (click)="savePalette()"
    [disabled]="!colorPaletteForm.valid"
  >
    Save Palette
  </button>
</form>
