<div class="color-display-container">
  <div class="colors-display">
    <ng-container *ngFor="let color of colors; let i = index">
      <app-colors-display
        class="colors-display"
        [colorObj]="color"
        (mouseenter)="onMouseEnter(i)"
        (mouseleave)="onMouseLeave()"
      ></app-colors-display>
    </ng-container>
  </div>
  <div class="color-values-container">
    <div>
      <ul>
        <li
          *ngFor="let color of colors; let j = index"
          [ngClass]="{
            'highlight-color-text': hoveredColorIndex === j,
            'color-text': hoveredColorIndex !== j
          }"
        >
          {{ color.colorName }}: {{ getColorValue(color.color) }}
        </li>
      </ul>
    </div>
    <div class="color-value-select">
      <button
        (click)="onDisplayOptionChange()"
        mat-icon-button
        aria-label="Change Color Value Type"
      >
        <mat-icon color="primary">color_lens</mat-icon>
      </button>
    </div>
  </div>
</div>
