@import "../../../../../styles/vars";

.color-display-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  .colors-display {
    display: flex;
    flex-direction: row;
    .colors-display {
      flex: 1;
    }
  }
  .color-values-container {
    display: grid;
    grid-template-columns: 1fr 1em;
    .color-value-select {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: baseline;
    }
  }
}

.highlight-color-text {
  color: $cc-primary;
}

.color-text {
  color: $light;
}

ul {
  list-style: none;
}
