<div class="palette-display-container">
  <ng-container *ngFor="let palette of colorPalettes; let i = index">
    <div class="palette-container shadow" color-text>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><h1>{{ palette.paletteName }}</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>Description: {{ palette.description }}</li>
        </ul>
      </mat-expansion-panel>
      <app-colors-section [colors]="palette.colors"></app-colors-section>
    </div>
  </ng-container>
</div>
