@import "../../../../styles/vars";

$hover-color: darken($darkest, 5);

.palette-display-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .palette-container {
    display: flex;
    flex-flow: column nowrap;
    width: 90vw;
    min-height: 7em;
    border: 0.15rem solid $darkest;
    border-radius: 2px;
    margin: 1rem;

    .palette-header {
      width: 100%;
      background-color: $darkest;
      align-self: center;
      h1 {
        text-align: center;
        color: $cc-primary;
      }
    }

    mat-expansion-panel {
      background-color: $darkest;
      border-radius: 0;
    }

    .colors-display-container {
      display: flex;
      flex-direction: row;
      .colors-display {
        flex: 1;
        height: 9em;
      }
    }
  }
  .palette-container:hover {
    border: 0.15rem solid $hover-color;
    .palette-header {
      background-color: $hover-color;
      h1 {
        color: lighten($cc-primary, 10);
      }
    }
    mat-expansion-panel {
      background-color: $hover-color;
    }
  }
}

.shadow {
  box-shadow: 0.1em 0.1em 0.1em $dark;
  transition: box-shadow 0.3s ease-in-out;
}

.shadow:hover {
  box-shadow: 0.5em 0.3em 0.3em $dark;
}

mat-expansion-panel-header:hover {
  background-color: $hover-color !important;
}

.specific-class > .mat-expansion-indicator,
.mat-expansion-indicator:after {
  color: red !important;
}
