<div class="palette-display-container">
  <ng-container *ngFor="let palette of colorPalettes">
    <div class="palette-container shadow">
      <div class="palette-header">
        <h1>{{ palette.paletteName }}</h1>
      </div>
      <div class="colors-display-container">
        <ng-container *ngFor="let color of palette.colors">
          <app-colors-display
            class="colors-display"
            [colorObj]="color"
          ></app-colors-display>
        </ng-container>
      </div>
      <mat-expansion-panel
        hideToggle
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon [ngStyle]="getDescriptionIconClass()" color="primary"
              >expand_more</mat-icon
            >
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>Description: {{ palette.description }}</li>
        </ul>
      </mat-expansion-panel>
    </div>
  </ng-container>
</div>
