@import "../../styles/vars";
@import "../../styles/mixins";

.sidenav-container {
  height: 100%;
}

mat-toolbar {
  mat-icon {
    color: $dark;
    @include tablet {
      padding-left: 0.1em;
    }
    @include large {
      padding-left: 0.5em;
    }
    @include desktop {
      padding-left: 0.2em;
    }
    cursor: pointer;
  }
  mat-icon:hover {
    color: lighten($dark, 20);
  }
}

mat-sidenav {
  background-color: darken($cc-accent, 5);
}

.sidenav-list-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.5em 0.3em 0 0.3em;
  a {
    margin: 0.54em;
    text-decoration: none;
    transition: color 2s;
    font-size: 0.9em;
  }
  width: 6em;
}
