<mat-toolbar color="primary">
  <mat-icon
    aria-hidden="false"
    aria-label="toggle sidenav"
    (click)="toggleSidenav()"
  >
    menu
  </mat-icon>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [(opened)]="opened">
    <div class="sidenav-list-items">
      <a mat-list-item routerLink="Home">Home</a>
      <a mat-list-item routerLink="Chart">Chart</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
